*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.idea/.name
.idea/workspace.xml

materials/*

data/ngc628/blanc_fits/
notebooks/.ipynb_checkpoints/*
notebooks/2f/.ipynb_checkpoints/*
notebooks/2f/test_short/.ipynb_checkpoints/*
*-checkpoint.ipynb